<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Página inicial
    {% for post in posts %}
        <h1>Título - {{post.titulo}}</h1>
        <h2>Autor - {{post.autor}}</h2>
        <h2>{{post.conteudo}}</h2>
        <h2>{{post.data}}</h2>
    {% endfor %}
</body>
</html>